.sidebar {
    background: #fff;
    width: 300px;
    height: 100%;
    text-align: center;
    position: fixed;

    .name {
        margin-bottom: 40px;
        font-size: 24px;
    }

    .introduce {
        margin-bottom: 54px;
        font-size: 14px;
        color: gray;
    }

    .title {
        margin-bottom: 50px;
        line-height: 31px;
        .choice {
            font-size: 15px;
            color: #444;
        }
    }

    .tags {
        margin-bottom: 50px;
        font-size: 14px;
    }
}
